@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #040616;
}

body {
  color: var(--foreground);
}

@layer base {
  :root {
    --color-in-progress-400: 245, 213, 101;
    --color-in-progress-500: 233, 162, 59;
    --color-completed-400: 160, 236, 177;
    --color-completed-500: 50, 214, 87;
    --color-wontdo-400: 247, 212, 211;
    --color-wontdo-500: 221, 82, 76;
    --color-todo-400: 227, 232, 238;
    --color-new-task-400: 245, 232, 213;
  }
}
